.row-header {
    margin: 0px auto;
    padding: auto;
    height: 200px;
}

.row-content0 {
    margin: 0px auto;
    padding: 0px 0px 0px 0px;
    border-bottom: 1px ridge;
    font-size: 20px;
    font-family: 'Comic Sans MS';
    align-self: center;
}

.row-content {
    margin: 0px auto;
    padding: 150px 0px 50px 0px;
}


.row-content2 {
    margin: 0px auto;
    padding: 15px 0px 20px 0px;
    font-size: 20px;
    font-family: 'Comic Sans MS';
    align-self: center;
}

.row-content3 {
    margin: 0px auto;
    padding: 40px 0px 5px 0px;
    font-size: 30px;
    font-family: 'Charcoal';
    font-weight: bold;
    align-self: center;
}

.row-content4 {
    margin: 0px auto;
    padding: 5px 0px 0px 0px;
    font-size: 20px;
    font-family: 'Comic Sans MS';
    align-self: center;
}

.row-content5 {
    margin: 0px auto;
    padding: 0px 0px 10px 0px;
    font-size: 20px;
    font-family: 'Comic Sans MS';
    font-weight: bold;
    align-self: center;
}

.row-content6 {
    margin: 0px auto;
    padding: 20px 0px 10px 0px;
    font-size: 30px;
    font-family: 'Charcoal';
    font-weight: bold;
    align-self: center;
}

.row-content7 {
    margin: 0px auto;
    padding: 10px 0px 5px 0px;
    font-size: 20px;
    font-family: 'Comic Sans MS';
    align-self: center;
}

.row-content8 {
    margin: 0px auto;
    padding: 15px 0px 10px 0px;
    font-size: 20px;
    font-family: 'Comic Sans MS';
    font-weight: bold;
    align-self: center;
}

.row-content9 {
    font-size: 20px;
    font-family: 'Comic Sans MS';
    align-self: center;
}

.row-content10 {
    font-size: 18px;
    font-family: 'Comic Sans MS';
    text-align: center;
    font-weight: bold;
}

.row-content11 {
    margin: 0px auto;
    padding: 0px 0px 0px 40px;
    font-size: 20px;
    font-family: 'Comic Sans MS';
    align-self: center;
}

.row-content12 {
    font-size: 25px;
    font-family: 'Comic Sans MS';
    align-self: center;
    font-weight: bold;
}

.row-back{
    width: 200%;
    padding-top: 30pt;
    font-size: 45px;
    font-family: 'Franklin Gothic Heavy'; 
    font-weight: bolder;
    text-align: left;
    text-shadow : black 10px 10px 10px;
    -webkit-text-fill-color: rgb(239, 241, 221); /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.myheader{
    height: 500px;
    width: 100%;
    background: url(img/index_head.jpg) center no-repeat;
    background-size: cover;
}
.header-content {
    padding: 250px 0px 0px 0px;
}
.header-content2 {
    padding: 0px 0px 0px 0px;
}

.carousel-inner .item{ 
    height:500px;
     
    background-size:cover;
    background-position: center center;
 }

.myPadding {
    padding: 25px 0px 15px 0px;
}

.myPadding2 {
    padding: 25px 0px 25px 0px;
}

.myPadding3 {
    padding: 30px 0px 0px 0px;
}

.my-border{
    border-bottom: 1px ridge;
}

.column {
    float: left;
    width: 33%;
    padding: 10px;
}

.column img:hover {
transition: all 0.5s;
box-shadow: 0 0 50px 2px rgba(rgb(0, 0, 0), green, blue, alpha);
transform: scale(1.02);
filter: drop-shadow(10px 5px 4px #6b6b6d);;
}


.map {
   margin: 0 auto;
   align-items: center;
   margin-bottom: 30px;
}

.video {
    margin: 0 auto;
    align-items: center;
   margin-bottom: 30px;
}

  @media screen and (max-width: 500px) {
    .column {
      width: 100%;
    }
  }

  @media screen and (max-width: 500px) {
    .myPadding {
        padding: 25px 0px 15px 0px;
    }
  }

  @media screen and (max-width: 500px) {
    .row-content10 {
        font-size: 17px;
        font-family: 'Comic Sans MS';
        text-align: center;
        font-weight: bold;
    }
  }

  @media screen and (max-width: 500px) {
    .row-content0 {
        padding: 20px 0px 15px 20px;
        border-bottom: 1px ridge;
        font-size: 19px;
        font-family: 'Comic Sans MS';
        align-self: center;
    }
  }

  @media screen and (max-width: 500px) {
    .row-content11 {
        margin: 0px auto;
        padding: 0px 0px 0px 20px;
        font-size: 19px;
        font-family: 'Comic Sans MS';
        align-self: center;
    }
  }

  @media screen and (max-width: 500px) {
    .row-content12 {
        margin: 0px auto;
        padding: 10px 0px 10px 30px;
        font-size: 25px;
        font-family: 'Comic Sans MS';
        align-self: center;
        font-weight: bold;
    }
  }

  @media screen and (max-width: 900px) {
    .row-content10 {
        font-size: 17px;
        font-family: 'Comic Sans MS';
        text-align: center;
        font-weight: bold;
    }
  }

  @media screen and (max-width: 900px) {
    .row-content0 {
        padding: 20px 0px 15px 20px;
        border-bottom: 1px ridge;
        font-size: 19px;
        font-family: 'Comic Sans MS';
        align-self: center;
    }
  }

  @media screen and (max-width: 900px) {
    .row-content11 {
        margin: 0px auto;
        padding: 0px 0px 0px 20px;
        font-size: 19px;
        font-family: 'Comic Sans MS';
        align-self: center;
    }
  }

  @media screen and (max-width: 900px) {
    .row-content12 {
        margin: 0px auto;
        padding: 10px 0px 10px 30px;
        font-size: 25px;
        font-family: 'Comic Sans MS';
        align-self: center;
        font-weight: bold;
    }
  }

a:hover {
    transition: all 0.5s;
    color: rgb(71, 166, 255);
    text-shadow : black 5px 5px 30px;
    text-decoration: none;
    transform: scale(1.02);
    
}

.footer {
    margin: px auto;
    padding: 30px 0px 20px 0px;
    color: lightyellow;
}

.bottomnavbar {
    overflow: hidden;
    bottom: 0;
    width: 100%;
  }
  
  /* Style the links inside the navigation bar */
  .bottomnavbar a {
    float: left;
    display: block;
    color: lightyellow;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    justify-self: center;
  }
  
  /* Change the color of links on hover */
  .bottomnavbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .bottomnavbar a.active {
    background-color: #4CAF50;
    color: white;
  }

@media screen and (max-width: 600px) {
    .bottomnavbar a {
        float: center;
        display: block;
        color: lightyellow;
        text-align: center;
        justify-self: center;
        align-content: center;
        align-self: center;
        align-items: center;
        text-decoration: none;
        font-size: 17px;
        width: 160px;
        height: 35px;
        justify-content: center;
        padding: 0px 0px 0px 45px; 
      }
}

.newPadding2 {
    padding: 20px 0px 0px 0px;
}

.newPadding3 {
    padding: 50px 0px 0px 0px;
    border-top: 1px ridge;
}

.footer .social-media a{
    color: lightyellow;
    font-size: 30px;
    padding:  10px 0px 20px 0px;
    margin: 0 10px;
}